* {
  padding: 0%;
  margin: 0%;
  box-sizing: border-box;
}
a:link {
  text-decoration: none;
}

html,
body {
  background: linear-gradient(90deg, #74ebd5 0%, #9face6 100%);
  height: 100vh;
  width: 100vw;
  font-family: "Montserrat", sans-serif;
  overflow-x: none;
}

#container {
  display: grid;
  align-items: center;
  place-content: center;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  height: 500px;
  width: 500px;
  background: linear-gradient(0deg, #ffdee9 0%, #b5fffc 100%);
  opacity: 0.9;
  border-radius: 45px;
}
h1 {
  position: relative;
  left: 20%;
  top: 0%;
  transform: translate(0%, -130%);
  color: rgb(245, 63, 63);
}

form div label {
  display: block;
  margin-bottom: 3px;
  color: rgb(160, 160, 160);
}
form div {
  margin-top: 10px;
}
form h2 {
  color: rgb(201, 200, 200);
  margin-bottom: 20px;
  display: none;
}
form input {
  width: 300px;
  height: 60px;
  border: none;
  border-radius: 26px;
  padding-left: 12px;
  margin-left: -8px;
  margin-bottom: 20px;
}
input:focus {
  outline: none;
}
form p {
  color: rgb(160, 160, 160);
}
form span a {
  font-weight: bold;
  color: royalblue;
  cursor: pointer;
}
form button {
  position: relative;
  left: 47.7%;
  top: 0%;
  transform: translate(-50%, 90%);
  margin-top: 5px;
  width: 120px;
  height: 40px;
  background-color: #9018dbb4;
  color: whitesmoke;
  border: none;
  border-radius: 10px;
  cursor: pointer;
}

@media only screen and (max-width: 512px) {
  body {
    background: #9face6;
  }

  #container {
    width: 95%;
  }
}

@media only screen and (max-width: 320px) {
  h1 {
    left: 15%;
  }
  #container {
  width: 95%;
}
#container form input {
  width: 250px;
}


}
